---
- name: copy traefik configuration
  template:
    src: traefik.toml.j2
    dest: /srv/traefik.toml

- name: create acme dir storage
  file:
    path: /srv/acme
    state: directory


- name: Deploy core stack
  docker_stack:
    name: tradebot
    with_registry_auth: true
    resolve_image: never
    compose:
      - version: '3'
        services:
          traefik:
            container_name: "traefik"
            image: traefik:v2.3
            command: --api.insecure=true --providers.docker
            environment:
              DO_AUTH_TOKEN: "{{ digitalocean_api_token }}"
            ports:
              - 80:80
              - 443:443
              - 8080:8080
            volumes:
              - /var/run/docker.sock:/var/run/docker.sock
              - /srv/traefik.toml:/etc/traefik/traefik.toml
              - /srv/acme:/etc/traefik/acme
            networks:
              - traefiknet
          whoami:
            image: traefik/whoami
            container_name: "whoami"
            labels:
              - "traefik.enable=true"
              - "traefik.http.routers.whoami.rule=Host(`whoami.0d.kz`)"
              - "traefik.http.routers.whoami.entrypoints=websecure"
              - "traefik.http.routers.whoami.tls.certresolver=tlsresolver"
            networks:
              - traefiknet
        networks:
          traefiknet:
            external: true
