[api]
insecure = true
dashboard = true

[providers.docker]
exposedByDefault = false
swarmMode = true

[entryPoints]

[entryPoints.web]
address = ":80"

[entryPoints.websecure]
address = ":443"

[certificatesResolvers.tlsresolver.acme]
email = "{{ admin_email }}"
storage = "/etc/traefik/acme/acme.json"
## caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
caServer = "https://acme-v02.api.letsencrypt.org/directory"

[certificatesResolvers.tlsresolver.acme.dnsChallenge]
provider = "digitalocean"
