[api]
insecure = true

[providers.docker]
exposedByDefault = false

[certificatesResolvers.tlsresolver.acme]
email = "{{ admin_email }}"
caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
# caServer = "https://acme-v02.api.letsencrypt.org/directory"

[certificatesResolvers.tlsresolver.acme.dnsChallenge]
provider = "digitalocean"
